html {
  overflow-x: hidden;
}
body {
  background-color: #f3f3f3;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.inline {
  display: flex;
  align-items: flex-start;
}
.middle {
  vertical-align: middle;
}
.wrapper {
  min-height: calc(100vh - 65px);
}
.mainContent {
  margin-top: 30px;
}
.navbar2 {
  padding-top: 20px;
}
.header-logo {
  vertical-align: middle;
}
.header {
  margin: 0 auto;
  padding-top: 20px;
}
.header-text {
  margin-top: 28px;
}
.header-text a {
  font-size: 42px;
  color: #182d4a;
  font-weight: bold;
}
.footer {
  background-color: #f3f3f3;
  float: right;
  padding-right: 10%;
  font-size: 13px;
  height: 2.5rem;
}
.form-bottom {
  margin-bottom: 10px;
}
.link {
  color: #5e72e4;
  cursor: pointer;
}
.center-h {
  text-align: center;
}
.alert-warning {
  background-color: #e6b89c;
}
.alert-error {
  background-color: #fe938c;
}
.alert-success {
  /* background-color: #93c4c6; */
  background-color: #81b29a;
}
.alert-dismissible {
  display: inline-block;
  padding-right: 35px;
}
.close {
  right: 10px !important;
}
/* Confirm button */
.btn-confirm {
  color: #fff;
  background-color: #81b29a;
  border-color: #81b29a;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-confirm:hover {
  color: #fff;
  background-color: #9cd8bb;
  border-color: #9cd8bb;
}
.btn-confirm:focus,
.btn-confirm.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
    0 0 0 0 rgba(77, 213, 155, 0.5);
}
.btn-confirm.disabled,
.btn-confirm:disabled {
  color: #fff;
  background-color: #5c7f6d;
  border-color: #5c7f6d;
}
.btn-confirm:not(:disabled):not(.disabled):active,
.btn-confirm:not(:disabled):not(.disabled).active,
.show > .btn-confirm.dropdown-toggle {
  color: #fff;
  background-color: #81b29a;
  border-color: #81b29a;
  /* box-shadow: 0 0px 0px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); */
}
/* Skip button */
.btn-skip {
  color: #fff;
  background-color: #fe938c;
  border-color: #fe938c;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-skip:hover {
  color: #fff;
  background-color: #ffa28c;
  border-color: #ffa28c;
}
.btn-skip:focus,
.btn-skip.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
    0 0 0 0 rgba(77, 213, 155, 0.5);
}
.btn-skip.disabled,
.btn-skip:disabled {
  color: #fff;
  background-color: #cca789;
  border-color: #cca789;
}
.btn-skip:not(:disabled):not(.disabled):active,
.btn-skip:not(:disabled):not(.disabled).active,
.show > .btn-skip.dropdown-toggle {
  color: #fff;
  background-color: #fc8279;
  border-color: #fc8279;
  /* box-shadow: 0 0px 0px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); */
}

.urlBox {
  margin-top: 15px;
}
.newUrl {
  width: 375px;
}
.copy {
  margin-left: 10px;
  color: grey;
}
.player-name-input {
  max-width: 125px;
}
#joinGameForm {
  margin: 0 auto;
}
#createGame {
  margin: 0 auto;
}
.required::placeholder {
  font-weight: 550;
}
.input {
  background-color: #fafbfc;
}
.sign-in-button-icon {
  margin-right: 10px;
}
/* player list */
.player-activity {
  width: 25px;
}
.player-name {
  display: inline-block;
  width: 110px;
}
.player-status {
  display: inline-block;
  width: 25px;
}
.player-score {
  display: inline-block;
  width: 25px;
  color: grey;
}
/* Colors */
.cl-success {
  color: #81b29a;
}
.cl-warning {
  color: #fbbf24;
}
.cl-error {
  /* color: #ff4d58; */
  color: #fe938c;
}
#playerColumn {
  min-width: 250px;
}
#gameColumn {
  min-width: 250px;
}
/* #settingsColumm {
  margin-bottom: 10px;
} */
/* .game-settings-header {
  padding: 10px;
  background-color: #8598ba;
  color: white;
  border-color: #e1e4e8;
  border-width: 1px;
  border-style: solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
} */
.game-settings {
  background-color: #ffffff;
  border-color: #e1e4e8;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  box-shadow: (0, 0, 0, 0.18) 0px 1px 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.game-settings-row {
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}
.game-ready {
  margin-left: 43px;
}
#startGameSection {
  margin-right: 15px;
}
#startGame {
  padding-left: 14px !important;
  padding-right: 14px !important;
}
.divider-no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}
#wordSuggetionsArea {
  padding: 15px;
  text-align: center;
}
#wordSuggetions {
  margin: 0 auto;
  max-width: 200px;
}
.word-suggestion-input {
  margin-bottom: 12px;
}
#wordArea {
  margin-top: 20px;
  margin-bottom: 20px;
  user-select: none;
  text-align: center;
}
#wordGuessed {
  margin-right: 20px;
}
#submitWords {
  margin-top: 5px;
}
.create-game-header {
  padding: 10px;
  background-color: #8598ba;
  color: white;
  border-color: #e1e4e8;
  border-width: 1px;
  border-style: solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.create-game-form {
  padding: 15px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-color: #e1e4e8;
}
.game-card {
  min-height: 227px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-color: #e1e4e8;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  box-shadow: (0, 0, 0, 0.18) 0px 1px 2px;
}
/* 8ecae6 alt background color headers */
/* #5E72E4 alt */
.player-list-header {
  padding: 10px;
  background-color: #8598ba;
  color: white;
  border-color: #e1e4e8;
  border-width: 1px;
  border-style: solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
#shuffelPlayers {
  cursor: pointer;
}
#playerList {
  background-color: white;
  border-style: solid;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-color: #e1e4e8;
}
.player-list-entry {
  padding: 10px;
  border-width: 0px;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-style: solid;

  border-color: #e1e4e8;
}
.player-list-entry:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* Buttons */
.btn {
  text-transform: capitalize;
}
.btn:focus,
.btn.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-main {
  color: #fff;
  background-color: #93c4c6;
  border-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-main:hover {
  color: #fff;
  background-color: #83afb1;
  border-color: #fff;
}

.btn-main-alt {
  color: #fff;
  background-color: #465063;
  border-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-main-alt:hover {
  color: #fff;
  background-color: #616e89;
  border-color: #fff;
}
.btn-outline-main {
  background-color: white;
  color: #616e89;
  border-color: #616e89;
}
.btn-outline-main:hover {
  color: #fff;
  background-color: #616e89;
  border-color: white;
}
.btn-outline-main:focus,
.btn-outline-main.focus {
  box-shadow: 0 0 0 0 rgba(94, 114, 228, 0.5);
}
/* makes connfeti-js CSP compliant */
#confetti-canvas {
  display: block;
  z-index: 999999;
  pointer-events: none;
  position: fixed;
  top: 0;
}

#currentWord {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
#timeLeftArea {
  float: right;
}
#gameMessage {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  color: #8ecae6;
}
.flex {
  display: flex;
}
.help-icon {
  margin: auto;
  margin-left: 10px;
}

.tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #465063;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-top: 25px;
  right: 15px;
}
.help-icon:hover .tooltiptext,
.help-icon:active .tooltiptext {
  visibility: visible;
}

.notification {
  margin: auto;
  margin-top: 15px;
}
#message {
  margin-left: 0px;
  margin-right: 0px;
}
.clickable {
  cursor: pointer;
}
