html {
  overflow-x: hidden;
}
body {
  background-color: #f3f3f3;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.inline {
  display: flex;
  align-items: flex-start;
}
.middle {
  vertical-align: middle;
}
.wrapper {
  min-height: calc(100vh - 65px);
}
.mainContent {
  margin-top: 30px;
}
.navbar2 {
  margin-top: 20px;
  text-align: center;
}
.header-logo {
  vertical-align: middle;
}
.header-text a {
  font-size: 30px;
  color: #182d4a;
  font-weight: bold;
}
.footer {
  float: right;
  padding-right: 10%;
  font-size: 13px;
  color: #95989b;
  height: 2.5rem;
}
.form-bottom {
  margin-bottom: 10px;
}
.link {
  color: #5e72e4;
  cursor: pointer;
}
.center-h {
  text-align: center;
}
.urlBox {
  margin-top: 15px;
}
.newUrl {
  width: 375px;
}
.copy {
  margin-left: 10px;
  color: grey;
}
.player-name-input {
  max-width: 125px;
}
#joinGameForm {
  margin: 0 auto;
}

.required::placeholder {
  font-weight: 550;
}
#wordArea {
  user-select: none;
}
.sign-in-button-icon {
  margin-right: 10px;
}
/* player list */
.player-activity {
  width: 25px;
}
.player-name {
  display: inline-block;
  width: 110px;
}
.player-status {
  display: inline-block;
  width: 25px;
}
.player-score {
  display: inline-block;
  width: 25px;
  color: grey;
}
/* Colors */
.cl-success {
  color: #81b29a;
}
.cl-warning {
  color: #fbbf24;
}
.cl-error {
  color: #ff4d58;
}
.game-card {
  padding: 10px;
  background-color: #fff;
  border-color: #e1e4e8;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
}
.player-list-header {
  padding: 10px;
  background-color: #8598ba;
  color: white;
  border-color: #e1e4e8;
  border-width: 1px;
  border-style: solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#playerList {
  background-color: white;
  border-style: solid;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-color: #e1e4e8;
}
.player-list-entry {
  padding: 10px;
  border-width: 0px;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-style: solid;

  border-color: #e1e4e8;
}
.player-list-entry:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* Buttons */
.btn {
  text-transform: capitalize;
}
.btn:focus,
.btn.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-main {
  color: #fff;
  background-color: #93c4c6;
  border-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-main:hover {
  color: #fff;
  background-color: #83afb1;
  border-color: #fff;
}

.btn-main-alt {
  color: #fff;
  background-color: #465063;
  border-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-main-alt:hover {
  color: #fff;
  background-color: #616e89;
  border-color: #fff;
}
/* .btn-outline-main {
  background-color: white;
  color: #93c4c6;
  border-color: #93c4c6;
}
.btn-outline-main:hover {
  color: #fff;
  background-color: #93c4c6;
  border-color: white;
}
.btn-outline-main:focus,
.btn-outline-main.focus {
  box-shadow: 0 0 0 0 rgba(94, 114, 228, 0.5);
} */
/* makes connfeti-js CSP compliant */
#confetti-canvas {
  display: block;
  z-index: 999999;
  pointer-events: none;
  position: fixed;
  top: 0;
}
